.team {

  &.mobile {
    & .grid {
      justify-content: space-between;

      & .member {
        width: 50%;
      }
    }
  }

  & .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    & .member {
      font-family: 'Montserrat';
      font-style: normal;
      width: 33%;
      box-sizing: border-box;
      color: #000000;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;

      & .pic img {
        border: 1px solid red;
        border-radius: 200px;
        width: 200px;
        height: 200px;
      }

      & .icon {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #D9D9D9;
        background-repeat: no-repeat;
        background-size: 170px 170px;
        background-position: inherit;
      }

      & .name {
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height, or 133% */
        text-align: center;
        margin-top: 10px;
      }

      & .role {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */
        text-align: center;

       
      }
    }
  }
}
