@import "../../../../common/mixins.scss";

.social {

  @include mainPadding;
  
  &.mobile {
    @include mobileMainPadding;
    
    & .grid {

      & > * {
        width: 48%;
        height: 159px;
        margin-bottom: 10px;
      }
    }
  }
  

  & .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      width: 33%;
      height: 287px;
      margin-bottom: 20px;
      box-sizing: border-box;
      background-size:     cover;                    
      background-repeat:   no-repeat;
      background-position: center center; 
    
    }

   

    & .img1 {
      background-image: url("../../../../../public/social/1.jpeg");
    }

    & .img2 {
      background-image: url("../../../../../public/social/2.jpeg");
    }

    & .img3 {
      background-image: url("../../../../../public/social/3.jpeg");
    }

    & .img4 {
      background-image: url("../../../../../public/social/4.jpeg");
    }

    & .img5 {
      background-image: url("../../../../../public/social/5.jpeg");
    }

    & .img6 {
      background-image: url("../../../../../public/social/6.jpeg");
    }

    & .img7 {
      background-image: url("../../../../../public/social/7.jpeg");
    }

    & .img8 {
      background-image: url("../../../../../public/social/8.jpeg");
    } 
    & .img9 {
      background-image: url("../../../../../public/social/9.jpeg");
    }
    & .img10 {
      background-image: url("../../../../../public/social/10.jpeg");
    }

    & .img11 {
      background-image: url("../../../../../public/social/11.jpeg");
    } 
    & .img12 {
      background-image: url("../../../../../public/social/12.jpeg");
    }
  }
}
.links .linksItem {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 28px;
      margin-bottom: 10px;
    & a {
      text-decoration: underline;
    }
    }
