.social {

  &.mobile {
    & .grid {

      & > * {
        width: 48%;
        height: 159px;
        margin-bottom: 10px;
      }
    }
  }

  & .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      width: 24%;
      height: 287px;
      margin-bottom: 20px;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    & .img1 {
      background-image: url("../../../../images/social/1.png");
    }

    & .img2 {
      background-image: url("../../../../images/social/2.png");
    }

    & .img3 {
      background-image: url("../../../../images/social/3.png");
    }

    & .img4 {
      background-image: url("../../../../images/social/4.png");
    }

    & .img5 {
      background-image: url("../../../../images/social/5.png");
    }

    & .img6 {
      background-image: url("../../../../images/social/1.png");
    }

    & .img7 {
      background-image: url("../../../../images/social/2.png");
    }

    & .img8 {
      background-image: url("../../../../images/social/3.png");
    }
  }
}
