@import url('https://fonts.googleapis.com/css?family=Montserrat');

a {
  color: inherit;
  text-decoration: none;
}

.app {
  overflow: hidden;

  &.mobile {
    & .main {
      padding: 0 10px;
    }
  }

  & .main {
    padding: 0 112px;
  }
}
